<h3>{{titulo}}</h3>
<hr/>
<form #formEmpleado="ngForm" (ngSubmit)="onSubmit()" class="col-lg-6" id="form-empleado">
	<!--id autogenerado-->	
	
	<label>
		Nombre
		<span *ngIf= "!nombre.valid && nombre.touched" class="label label-danger"> El nombre es obligatorio </span>
	</label>
	<input type="text" #nombre="ngModel" name="nombre" [(ngModel)]="empleado.nombre" class="form-control" required />
	

	<label>
		Apellidos
		<span *ngIf= "!apellidos.valid && apellidos.touched" class="label label-danger"> Los apellidos son obligatorios </span>
	</label>
	<input type="text" #apellidos="ngModel" name="apellidos" [(ngModel)]="empleado.apellidos" class="form-control" required />

	<label>
		Fecha de nacimiento
		<span *ngIf= "!fechaNacimiento.valid && fechaNacimiento.touched" class="label label-danger"> La fecha es obligatoria </span>

	</label>
	<input type="text" #fechaNacimiento="ngModel" name="fechaNacimiento" [(ngModel)]="empleado.fechaNacimiento" class="form-control" required />
<!-- 	<label>Imagen</label>
	<divn *nIf="is_edit">
		<img src="http://localhost:8080/api/CarpetaDondeEstanLasImagenes/{{empleado.imagen}}" class="empleado_imagen" />
	</div>
	
	<input type="file" class="form-control" (change)="fileChangeEvent($event)"/> 
	-->

	<br>
	<input type="submit" value="{{titulo}}" [disabled]="!formEmpleado.form.valid" class="btn btn-success">

</form>